NEXT_PUBLIC_SUI_NETWORK=testnet
GONKA_ROUTER_BASE_URL=https://api.gonkarouter.io/v1
GONKA_ROUTER_API_KEY=your_sk_xxxxxx_gonka_api_key_here
GONKA_MODEL=moonshotai/Kimi-K2.6
SPONSOR_PRIVATE_KEY_B64=your_base64_ed25519_secret_key_here
NEXT_PUBLIC_PACKAGE_ID=0x_your_deployed_package_id_here
NEXT_PUBLIC_ESCROW_VAULT_ID=0x_your_shared_vault_id_here
NEXT_PUBLIC_TREASURY_ADDRESS=0x_unipact_treasury_address_here
