# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js build output
frontend/.next/
frontend/out/
frontend/build/

# Move Smart Contract build artifacts
contracts/build/
contracts/.temp/

# Misc
.DS_Store
*.pem

# Local environment files
.env*.local
.env
*.log

# Vercel
.vercel
